<!-- <!DOCTYPE html>
<html>
<head>
    <title>Fake News Checker</title>
</head>
<body style="text-align:center; font-family:Arial;">

    <h2>Fake News Checker</h2>

    <form action="/predict" method="post">
        <input type="text" name="news" placeholder="Enter news here" required>
        <br><br>
        <button type="submit">Check</button>
    </form>

    {% if prediction %}
        <h3>{{ prediction }}</h3>
    {% endif %}

</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
    <title>Fake News Checker</title>
</head>
<body style="text-align:center; font-family:Arial; background:#f2f2f2;">

    <h1>📰 Fake News Checker</h1>

    <form action="/predict" method="post">
        <input type="text" name="news" placeholder="Enter news here" required 
               style="padding:10px; width:300px;">
        <br><br>
        <button type="submit" style="padding:10px;">Check</button>
    </form>

    {% if prediction %}
        <h2>{{ prediction }}</h2>
    {% endif %}

</body>
</html>